
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.font-inter{
    font-family: "Inter", sans-serif;
}
.font-noto{
      font-family: "Noto Serif", serif;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.display-flex{
    display: flex;
}

/* custom style */


.nav-title{
    font-weight: 700;
    font-size: 30px;
    color: #E95A08;
}
.nav-items{
    list-style: none;
    gap: 48px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-items :nth-child(2),
:nth-child(3){
    color: #8987A1;
}
.navbar{
    /* width: 1140px; */
    height: 72px;
    margin-top: 30px;
}


/* banner section */


.banner-section{
    height: 461px;
    margin-top: 120px;
    /* border: 1px solid ; */
    flex-direction: row;
    /* justify-content: center; */
    align-items: flex-end;

}
.banner-section img{
    height: 355px;
}
.banner-content{
    margin-bottom: 5px;
}
.banner-title{
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 13px;
    
}
.banner-description{
    font-size: 20px;
    color: #00000080;
}

/* main section */
main{
    margin-top: 120px;
}
.main{
    text-align: center;
}
.main-title{
    font-weight: bold;
    font-size: 50px;
}
.main-description{
    width: 888px;
    height: 54px;
    color: #00000080;
    margin-left: 126px;
    margin-right: 126px;
    margin-top: 15px;
}

/* =====plants section==== */
.plants-name{
    font-weight: 500;
    font-size: 28px;
    color: #111111;
    margin-bottom: 20px;
}

.plants-price{
    font-weight: 700;
    font-size: 22px;
    color: #111111;
    margin-bottom: 30px;
}

.plants{
    text-align: center;
    color: #111111;
    margin-bottom: 30px;
}
.plants img{
    margin-bottom: 30px;
}

.btn{
    width: 270px;
    height: 50px;
    font-weight: ;
    padding: 18px 50px 26px 50px;
    background-color: #E95A08;
    color: white;
    border: none;
  
}

.plants-section{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-top: 50px;
}



/* ================================Responsive for Mobile device ===================================*/

@media (max-width:761px) {

    
.nav-title{
    font-weight: 700;
    font-size: 23px;
    color: #E95A08;
}
.item{
    display: none;
}


.navbar{
    width: 365px;
    height: 38px;
    margin-top: 30px;
    /* margin-right: 16px; */
    margin-left: 16px;
}

/* banner section */

    
.banner-section{
    
    flex-direction: column-reverse;

}
.display-flex{
    flex-wrap: wrap;
}
.banner-section img{
    width: 100%;
    height: 245px;
}
.banner-content{
    margin: 28px 16px  16px;

}
.banner-title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 13px;
    
}
.banner-description{
    font-size: 14px;
    color: #00000080;
}


/* main section */
main{
    margin-top: 65px;
}
.main{
    /* text-align: center; */
}
.main-description{
    font-weight: 400;
    font-size: 14px;
    width: 370px;
    height: 68px;
    color: #00000080;
    margin: 16px 28px 28px 28px;
    text-align: center;
}
.main-title{
    font-weight: 700;
    font-size: 24px;
}

/* plants section ====*/

.plants-section{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 50px;
    margin-right: 14px; 
    margin-left: 14px;
}

.plants-name{
    /* font-weight: 500; */
    font-size: 20px;
    color: #111111;
    margin-bottom: 5px;
}

.plants-price{
    /* font-weight: 700; */
    font-size: 20px;
    color: #111111;
    margin-bottom: 30px;
}

.plants{
    /* text-align: center; */
    color: #111111;
    /* margin-bottom: 30px; */
}
.plants img{
    /* margin-bottom: 30px; */
    width:  181px;
    /* height: 196px; */
}
.plant-content{
    /* width: 171px; */
    height: 114px;
    
}

.btn{
    width: 170px;
    height: 50px;
    font-weight:400;
    font-size: 10px;
    padding: 18px 50px 26px 50px;
    background-color: #E95A08;
    color: white;
    border: none;
  
}




    
}